body {
    font-family: Verdama, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.head, .footer, .awesome {
    background-color: #1F2937;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 32px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 32px;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.awesome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 64px;
    
}

.aw-left {
    max-width: 600px;
    margin-left: 32px;
    margin-top: 124px;
}

.aw-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
    
}

.aw-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.button {
    width: 100px;
}

.img {
    height: 400px;
    width: 800px;
    background-color: grey;
    border: 2px solid white;
}

.random-info {
    text-align: center;
    
}

.random-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.img-container {
    display: flex;
    justify-content: center;
}

.random-container {
    max-width: 200px;
    gap: 52px;
}

