body {
    font-family: Verdama, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    
}

.head, .footer, .awesome {
    background-color: #1F2937;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 512px;
    
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 64px;
    
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 64px;
    
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.awesome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-bottom: 32px;
    
}

.aw-left {
    max-width: 600px;
    margin-left: 64px;
    margin-top: 124px;
}

.aw-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
    
}

.aw-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    display: flex;
    align-self: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 32px;
    font-weight: bold;
    border: 1px solid #1F2937;
    border-radius: 5px;
    margin-bottom: 32px;
}

#img1 {
    
    height: 300px;
    background-color: grey;
    border: 2px solid #3882F6;
    border-radius: 10px;
    margin-right: 64px;
    margin-bottom: 32px;
}

#box {
    border-radius: 10px;
    width: 150px;
    border: 2px solid #3882F6;
}

.random-info {
    text-align: center;
    margin-top: 8px;
}

.random-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 32px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.random-container {
    max-width: 200px;
    gap: 52px;
}

.random-text {
    margin-top: 32px;
    margin-bottom: 32px;
}

.quote {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    background-color: #E5E7EB;
    
}

.quote-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    max-width: 800px;
}



.quote-name {
    font-weight: bold;
    text-align: right;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    
    
}

.call-box {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 800px;
    gap: 32px;
    border-radius: 5px;
    padding: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: space-around;
    align-items: center;

}

.call-left {
    color: #F9FAF8;
}

.call-left .call-title {
    font-size: 16px;
    font-weight: bold;
}



.footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 12px;
}

#button2 {
    display: flex;
    align-self: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 32px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
}

